nav ul li.active {
    background-color: rgba(255, 255, 255, 0.2);
}

#full {
    width:100%;
}

#Pinnedagree{
	margin-top:-10px;
	color:#44D644;
}

#Pinnedreject{
	color:#FF0000;
	margin-top:28px;
}

ul.collection li a.secondary-content{
    margin-top:8px;
}

ul.collection li #result{
	margin-top:16px;
	margin-right:56px;
	color:#8C9EB1;
}
	

#reject{
    color:#FF0000;
}

#agree{
    color:#44D644;
}