body{
	cursor: default;
}

.nav-color{
	background-color: #000 !important;
}

.BookCard .material-icons{
	display:none;
}

.BookCard:hover .material-icons{
	display:block;
}
.BookCard:hover .material-icons:hover{
	color: black !important;
}

.BookCover{
	width: 150px; 
	height: 222.5px;
	float: left;
}

.BookDetail{
	height: 222.5px;
	overflow: hidden;
}

.BookDetail .BookDesc{
	height: 115px;
    overflow: hidden;
	text-overflow:ellipsis;
	line-height: 19px;
}

nav ul li.active {
    background-color: rgba(255, 255, 255, 0.3);
}
nav ul li:hover{
	background-color: rgba(255, 255, 255, 0.2);
}
