body{
	cursor: default;
}

.nav-color{
	background-color: #000 !important;
}

.BookCover{
	width: 150px; 
	height: 222.5px;
	float: left;
}

.BookDetail{
	height: 222.5px;
	overflow: hidden;
}

.BookDetail .BookDesc{
	height: 134px;
    overflow: hidden;
	text-overflow:ellipsis;
	line-height: 19px;
}

nav ul li.active {
    background-color: rgba(255, 255, 255, 0.2);
}
nav ul li:hover{
	background-color: rgba(255, 255, 255, 0.1);
}
