body{
	cursor: default;
}
.BookCover{
	width: 150px; 
	height: 222.5px;
	float: left;
}

.BookDetail{
	height: 222.5px;
	overflow: hidden;
}

.BookDetail .BookDesc{
	height: 134px;
    overflow: hidden;
	text-overflow:ellipsis;
	line-height: 19px;
}

#bookDetailModal{
	width: 90%;
	height: 80%;
	max-height: 80%;
}

nav ul li.active {
    background-color: rgba(255, 255, 255, 0.2);
}