.BookCover{
	width: 150px; 
	height: 222.5px;
	float: left;
}

.BookDetail{
	height: 222.5px;
	overflow: hidden;
}

.BookDetail .BookDesc{
	height: 134px;
    overflow: hidden;
	text-overflow:ellipsis;
	line-height: 19px;
}