body{
	background-color: #efefef;
	font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
}

.BookCard{
	height: 222px;
}

.BookCover{
	width: 150px; 
	height: 222px;
	float: left;
}

.BookDetail{
	height: 222px;
	overflow: hidden;
}

.BookDetail .BookDesc{
	height: 134px;
    overflow: hidden;
	text-overflow:ellipsis;
	line-height:1.4;
}