@charset "utf-8";
/* CSS Document */

body{
	background-image: url(../../images/bg/bg2.jpg);
}

#LoginCard{
	border-radius: 10px;
	width: 347px;
	margin: auto;
	margin-top: 100px;
}

.card .card-content {
	padding: 40px;
}
.card-container{
	width:100%;
	margin-top:20px;
}
img.responsive-img {
	max-width: 50%;
	height: auto;
	margin-top: -96px;
}
.cardcolor{
	background-color:rgba(255, 255, 255, 0.68)!important
}
.input-field label {
	color: #7B7B7B;
}
.btn-large{
	height: 32px;
	line-height: 29px;	
}
