@charset "utf-8";
/* CSS Document */

.nav-color{
    background-color: #000;
}

.BorrowAvater{
	margin-left:20px;
	margin-top:6px;
	width:69px;
	float:left;
	
}
.BorrowDetail{
	margin-left:150px;
	overflow: hidden;
	
}
.status{
	float:right;
	margin-top:-47px;
	
}

.tabs{
  overflow-x:hidden;	
}

.agree{
	color:#23C410;
}
.refuse{
	color:#CD070A;
}

body{
	cursor: default;
}

nav ul li.active {
    background-color: rgba(255, 255, 255, 0.2);
}

nav ul li:hover{
	background-color: rgba(255, 255, 255, 0.1);
}

